@{
    ViewData["Title"] = "Home Page";
}

<div class="card border-primary">
    <div class="card-header bg-info border-primary">
        <h1 class="fs-4 mb-0">Welcome to DuckDuckGoose.</h1>
    </div>
    <div class="card-body">
        <p>DuckDuckGoose is a platform where people can post brief thoughts and updates. These posts are known as honks.</p>
        <a asp-controller="Honk" asp-action="Index" role="button" class="btn btn-primary">View some honks</a>
    </div>
</div>